<h1>My tasks</h1>
<% @tasks.each do |task| %>

  <% if task.completed %>
    <p><i class="far fa-check-square"></i><%= link_to task.title, task_path(task) %>
      <i class="fas fa-trash-alt"></i><%= link_to "delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
    </p>
  <% else %>
    <p><i class="far fa-square"></i><%= link_to task.title, task_path(task) %>
      <i class="fas fa-trash-alt"></i><%= link_to "delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
    </p>
  <% end %>
<% end %>

<p>------------------------------------</p>
<%= link_to "Add a task", new_task_path %>

<%# @restaurants.each do |restaurant| %>
  <%#= link_to restaurant.name, restaurant_path(restaurant) %>
<%# end %>
